#primary {
  padding-block: 20px;
  /* justify-content: space-between; */

  div {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
  }

  /* nesting css */
  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3) {
    justify-self: end;
  }

}

#secondary {
  padding-block: var(--spacing-lg);
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
}