/* utility-firts */
/* e uma classe que ela fazer somente uma coisa */
.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: var(--spacing-md);
}

.gap-32 {
  gap: var(--spacing-xl);
}

.text-2xl {
  font: var(--heading1);
}

.text-xl {
  font: var(--heading2);
}

.text-lg {
  font: var(--heading3);
}

.text-sm {
  font: var(--text-sm);
}